
body {
	margin: 0px;
	padding:0px;
	margin-left: 10px;	
	font-size: 62.5%;	
    font-family: 'Raleway', sans-serif;	
}



 p {
 	border:solid 1px;
 	width: 75%;	
 	height: 70px;
 	text-align: left;	
 	margin: 0;
	padding: 20px;

	

 }


 p.top {
 	font-size: 2.5em;	
 	background-color: yellow;	 	
 }

p.middle {
	font-size:  2.5em;		
	background-color: #eb234e;
}

p.bottom {
	font-size: 4em;	
	text-transform: uppercase;				
	background-color: yellow;	
}



#segundo-ejercicio {
	margin-top: 60px;
	font-size: 		
}


#segundo-ejercicio p {
	width: 25%;	
	margin: 20px;
			
}

#segundo-ejercicio p.bottom {
	font-size: 3.5em;	
}


#tercer-ejercicio {
	margin-top: 60px;	
}

#tercer-ejercicio p {	
	width: 100px;			
    display: inline;	
		
}


#tercer-ejercicio p.bottom {
	font-size: 2.5em;	
}
